.dropdown-item {
  display:flex;
  justify-content:center;
  color: #000;
}

.dropdown-item:hover {
  cursor: pointer;
  background-color: #d6d6d6;
}

.ant-dropdown-link {
  width: 140px;
  margin: 20px;
  padding: 15px;
  border : 1px solid;
  text-decoration: none;
}

.menu-item {
  width: 140px;
  margin: 20px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  list-style: none;
  border: 1px solid;
}

.menu-list {
  position: inherit;
  padding: 5px 0;
  text-align: center;
}

.menu-list:hover {
  background-color: #d6d6d6;
  cursor: pointer;
}
